<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{{page}}</title>
    <style>
      *{
        margin:0;
        padding:0;
      }
        table, th, td{
            border: 1px solid black;
        }
        table p{
          margin:0
        }
    </style>
  </head>
  <body>
    {% comment %} <div class="container d-flex flex-row justify-content-between">
        <a href="/contact">Contact</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/success-page">Success</a>
    </div> {% endcomment %}
    {% block start %}
    {% endblock %}
</body>
</html>
