{% extends "base.html" %} {% block start %}
<h2 class="text-center">Welcome to the Receipe page</h2>
<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Receipe</h2>
    <hr />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input name="receipe_name" required type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe Desciption</label
      >
      <textarea
        name="receipe_description"
        required
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe Image</label
      >
      <input name="receipe_image" required type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>

  <hr />

  <div class="mt-5">
    <div class="mx-auto col-6">
      <form>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-center"
            >Search Receipe</label
          >
          <input
            name="search_receipe" type="text" class="form-control" id="exampleInputPassword1"></input>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Search Receipe</button>
        </div>
      </form>
    </div>
  </div>


  {% comment %} {{receipes}} {% endcomment %}
  <table class="table mt-5 shadow-lg">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Receipe</th>
        <th scope="col">Desciption</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for receipe in receipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{receipe.receipe_name}}</td>
        <td>{{receipe.receipe_description | truncatechars:100}}</td>
        <td class="d-flex justify-center align-items-center">
          <img
            src="/media/{{receipe.receipe_image}}"
            width="200"
            height="200"/>
        </td>
        <td>
          <a href="/delete-receipe/{{receipe.id}}/" class="btn btn-danger m-2"
            >Delete</a
          ><br /><a
            href="/update-receipe/{{receipe.id}}/"
            class="btn btn-success m-2"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
