<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial </title>

</head>
<body>
    <h1>This is the first html Page Rendering by Django</h1>
    <h2>It makes me happy that how i can easily </h2>
    <h2>Render these html pages with the help of Django</h2>
    <hr/>
    <p>Adding a Horizontal ruler is good for the seeing that does it works or not</p>
    <br/>
    <br/>
    <p>yeah added some br tags too....</p>
</body>
</html>